.Notifications {
  border: 0.1rem dashed #e0354b;
  padding: 1rem 1rem;
  font-weight: 600;
  width: 25rem;
  position: absolute;
  right: 0.5em;
}

li[data-notification-type="default"] {
  color: #2b166d;
}

li[data-notification-type="urgent"] {
  color: #ff0200;
}

.menuItem {
  text-align: right;
}
