:root {
  --color-primary: #e0354b;
  --font-family: sans-serif;
  --border-line: 3px solid var(--color-primary);
}

body {
  font-family: var(--font-family);
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: var(--border-line);
}

.App-header h1 {
  color: var(--color-primary);
}

.App-body {
  min-height: 50vh;
  margin: 3rem;
}
