.Notifications {
  border: 0.1rem dashed #e0354b;
  padding: 2rem;
  position: relative;

  font-weight: 600;
}

li[data-notification-type="default"] {
  color: #2b166d;
}

li[data-notification-type="urgent"] {
  color: #ff0200;
}
